#center{
    text-align: center;
}

#indent{
    text-indent: 20px;
    background-color: rgb(9, 97, 97);
}

body{
    background-color: rgb(235, 224, 209);
}

#cardslength{
    min-height: 170px;
}

#color{
    background-color: rgb(255, 250, 240);
}
